In [22]:
 # Q1.Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [5]:
import pandas as pd

In [18]:
data = [4,8,15,16,23,42]

In [19]:
series = pd.Series(data)

In [20]:
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
 # Q2.Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it

In [23]:
list = [1,2,3,4,5,6,7,8,9,10]

In [24]:
series = pd.Series(list)

In [25]:
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [27]:
# Q3. Create a Pandas DataFrame that contains the following data:

In [28]:
data = {'name' : ['Alice','Bob', 'Claire'],
        'Age' : [25,30,27],
        'gender' : ['Female','Male','Female']}

In [30]:
df= pd.DataFrame(data)

In [31]:
print(df)

     name  Age  gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [32]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [3]:
import pandas as pd

In [4]:
# creating a DataFrame
data = {'name' : ['Alice','Bob', 'Claire'],
        'Age' : [25,30,27],
        'gender' : ['Female','Male','Female']}

In [5]:
df1 = pd.DataFrame(data)

In [7]:
print (df1)

     name  Age  gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [8]:
# Creating pandas Series

In [14]:
data1 = pd.Series(['Apple', 'Banana', 'Mango', 'Orange',23232])

In [15]:
print (data1)

0     Apple
1    Banana
2     Mango
3    Orange
4     23232
dtype: object

In [16]:
# In pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different data types. It is similar to a table or spreadsheet in which data is organized in rows and columns. A DataFrame can be thought of as a collection of Pandas Series objects where each column represents a Series.

# a Series is a one-dimensional labeled array that can hold any data type. It can be seen as a single column of a DataFrame. Each element in a Series has a unique label called an index.

In [17]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can 
# you give an example of when you might use one of these functions?

In [23]:
# here are some common functions to manipulate data with example.
import pandas as pd
data = {'name' : ['laddu','patlu','nive','pshukla','shukla'],
        'age' : [23,45,76,24,98]}
df =pd.DataFrame(data)
print(df)

      name  age
0    laddu   23
1    patlu   45
2     nive   76
3  pshukla   24
4   shukla   98

In [24]:
# 01 head functions used to display the first few rows
print(df.head(2)) #display the first two rows of the dataframe.

    name  age
0  laddu   23
1  patlu   45

In [29]:
# 02 tail functions used to display the last few rows.
print(df.tail(2)) #display the Last two rows of the dataframe.

      name  age
3  pshukla   24
4   shukla   98

In [30]:
print(df.describe)

<bound method NDFrame.describe of       name  age
0    laddu   23
1    patlu   45
2     nive   76
3  pshukla   24
4   shukla   98>

In [31]:
# describe(): This function provides a summary of statistics for numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, and maximum values.
# Creating a DataFrame
data1 = {'Age': [25, 30, 35, 28, 22,34,65]}
df1 = pd.DataFrame(data)

print(df1.describe())

             age
count   5.000000
mean   53.200000
std    33.010604
min    23.000000
25%    24.000000
50%    45.000000
75%    76.000000
max    98.000000

In [32]:
print(df)

      name  age
0    laddu   23
1    patlu   45
2     nive   76
3  pshukla   24
4   shukla   98

In [45]:
# sort_values(): This function is used to sort the DataFrame by one or more columns.
sort = df.sort_values(by=['name','age'],ascending=True)

In [46]:
print (sort)

      name  age
0    laddu   23
2     nive   76
1    patlu   45
3  pshukla   24
4   shukla   98

In [55]:
# Group the data by the 'Name' column and calculate the average age for each name
group = df.groupby('name')['age'].mean()
print(group)
# These are just a few examples of common functions available in pandas to manipulate data in a DataFrame.
# The library offers many more powerful functions for filtering, merging, transforming, and analyzing data in various ways.

name
laddu      23.0
nive       76.0
patlu      45.0
pshukla    24.0
shukla     98.0
Name: age, dtype: float64

In [56]:
# Q6.Which of the following is mutable in nature Series, DataFrame, Panel?
# both Series and DataFrame are mutable in nature, while the Panel object is no longer recommended for use.

In [73]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.
# Creating multiple Series
import pandas as pd
name_series = pd.Series(['pshukla', 'laddu', 'patlu','Kattu'])
age_series = pd.Series([25, 30, 35,45])
gender_series = pd.Series(['Male', 'Female', 'Female','Male'])

# Creating a DataFrame using the Series
data = {'Name': name_series, 'Age': age_series, 'Gender': gender_series}
df = pd.DataFrame(data)

print(df)

      Name  Age  Gender
0  pshukla   25    Male
1    laddu   30  Female
2    patlu   35  Female
3    Kattu   45    Male